@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background-color: #28489f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  overflow-y: hidden;
}

.app-container {
  @media (min-width: 768px) {
    background-image: url('./assets/images/background-frame.png');
    margin: 0 auto;
    max-width: 1250px;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.game-container {
  background-image: url('./assets/images/background-default.jpeg');
  background-size: cover;

  @media (min-width: 768px) {
    width: 50%;
    margin: 0 auto;
  }
}
